.subtitle+.title {
  margin-top: -10px;
}

.content h1:not(:first-child),
.content h2:not(:first-child),
.content h3:not(:first-child),
.content h4:not(:first-child),
.content h5:not(:first-child),
.content h6:not(:first-child),
article+article {
  margin-top: 20px;
}

img[src$="#c"] {
  margin-bottom: 1.5rem;
}

img[src$="#l"] {
  margin-bottom: 1.5rem;
}

img[src$="#r"] {
  margin-bottom: 1.5rem;
}
